@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IS413 Grade Calculatooooorrr";
}



<h2>My preferred name is: </h2>
<h1>A u s t i n</h1>

<img id="picAustin" src="img/MeSkiing.jpg.jpg" />

<p>This semester, I hope to cement my knowledge of building webapps using different languages in different circumstances. I have already enjoyed this class a lot and hope we will continue to learn things that I can see applying very practically to the work force!</p>

<p>Top 3 jobs I am most interested in pursuing when I graduate:</p>
<ul>
    <li>1. Cybersecurity </li>
    <li>(not security governance/metrics</li>
    <li>2. Project Manager</li>
    <li>3. Software Developer</li>
</ul>

<br />
<br />
<br />

